<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<h1 th:text="${museum_detail.museumName}"></h1>
	
	
	<table border="1">
		<tr>
			<th>エリア</th>
			<td th:text="${area.area}"></td>
		</tr>
		<tr>
			<th>市町村名</th>
			<td th:text="${museum_detail.cityName}"></td>
		</tr>
		<!--<tr>
			<th>博物館登録者</th>
			<td th:text="${name.name}"></td>
		</tr>-->
		<tr th:each="c:${comment}">             
			<th>コメント</th>
			<td th:utext="${c.content} + '<br>'+'登録者 : '+ ${c.userName}"></td>				
		</tr>		
	</table>
	
	<h2>コメントを追加する</h2>
	<form action="/detail" method="post">
		<input type="hidden" name="id" th:value="${museum_detail.id}">
		<textarea name="content" rows="5" cols="100"></textarea>
		<!--<input type="text" name="content" size="100">-->
		<button>投稿する</button>
	</form>
	<p><a href="/museums">トップページへ</a></p>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>