<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ - 博物館一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<header th:replace="header"></header>
	<hr>
	<h1>博物館一覧</h1>
	<nav><a href="/museums">全エリア</a>
		<a th:each="a:${areas}"
			th:href="'/museums?areaId='+${a.id}"
			th:text="${a.area}"
			style="margin-right: 5px;"></a>
	</nav>
	<main>
	<table border="1">
		<tr>
			<th>博物館名</th>
			<!--<th>エリア</th>-->
			<th>市町村名</th>
		</tr>
		<tr th:each="museum:${museums}">
			<td> 
				<a th:href="@{/detail(id=${museum.id})}">
					<span th:text="${museum.museumName}"></span>
				</a>
			</td>
			<td th:text="${museum.cityName}"></td>
		</tr>
	</table>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>