<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ - 博物館一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<header th:replace="header"></header>
	<hr>
	
	<section class="about">
		<p>新型コロナウイルス感染症により旅行にも大きな制限が加えられ、それまで行けていた場所に行けなくなったことにより旅行のスタイルにも変化があったと思われます。今まで旅行というと有名な遠くの場所に行かなくてはいけないと思っていましたが、実は自分の身近なところに非日常を味わえる場所があることに気づきました。 地元の博物館・郷土資料館を巡り、なぜこの街が今この姿をしているのか、自分の地元のことを知ることで非日常を味わう、そんなスタイルもまた新たな旅行のスタイルなのかなと思います。
		このサイトでは会員が地元あるいは自分が訪れたことのある博物館等のコメントを追加していき、誰かの次の旅行に参考にしてもらう、そのような目的で作成されました。</p>
	</section>
	
	
	<h1>博物館一覧</h1>
	<nav><a href="/museums">全エリア</a>
		<a th:each="a:${areas}"
			th:href="'/museums?areaId='+${a.id}"
			th:text="${a.area}"
			style="margin-right: 5px;"></a>
	</nav>
	<main>
	<table border="1">
		<tr>
			<th>博物館名</th>
			<!--<th>エリア</th>-->
			<th>市町村名</th>
		</tr>
		<tr th:each="museum:${museums}">
			<td> 
				<a th:href="@{/detail(id=${museum.id})}">
					<span th:text="${museum.museumName}"></span>
				</a>
			</td>
			<td th:text="${museum.cityName}"></td>
		</tr>
	</table>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>